<form [formGroup]="convertForm">

  <label for="valueToConvert">Convert this amount</label>
  <input id="valueToConvert" type="number" formControlName="amountToConvert">

  <label for="coinToConvert">of this currency</label>
  <select id="coinToConvert" formControlName="coinOwned">
    <option *ngFor="let currency of mainCurrencyArray" [ngValue]="currency">{{currency}}</option>
  </select>

  <label for="coinConvertedTo">to this currency</label>
  <select id="coinConvertedTo" formControlName="convertedTo">
    <option *ngFor="let currency of mainCurrencyArray" [ngValue]="currency">{{currency}}</option>
  </select>

</form>
<!-- conversion goes here -->